<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755285041313-tm32vphasid33j92a415jg41imcsmrhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755285041313-tm32vphasid33j92a415jg41imcsmrhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDJmUI2ggo91PSCowngnd_lSyLyU6kS2_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>755285041313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>flappybird-c96c2</string>
	<key>STORAGE_BUCKET</key>
	<string>flappybird-c96c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755285041313:ios:e3a56d834c480e6c30d0e0</string>
</dict>
</plist>